html {
  height: 100%;
}
body {
  background: linear-gradient(-45deg, #aaa, #eee);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  height: 100%;
}
#all {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  background-color: rgba(255,255,136,0.125);
  border-radius: 40px;
}
#gameCanvas {
  background-color: rgba(255,255,255,0.251);
  border-radius: 80px;
}
#score {
  text-align: center;
  font-family: Impact;
  font-weight: bold;
  font-size: 60px;
  margin-top: -10px;
  margin-bottom: -10px;
}
