@require 'layout'

#all
	margin-left auto
	margin-right auto
	width 300px
	background-color #ffff8820
	border-radius 40px

#gameCanvas
	background-color #ffffff40
	border-radius 80px

#score
	text-align center
	font-family Impact
	font-weight bold
	font-size 80px
