doctype html
html
	head
		title Slots
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='./style/index.css')

		script(src='./lib/requirejs/require.js')
		script.
			requirejs.config({
				baseUrl: 'lib',
				paths: { msl: 'msl/dist' }
			})
			require([ "../script/main" ])

	body
		div#all
			div#score
			div(style="clear: both;")
			canvas#gameCanvas(width=300, height=300)
